<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>REgistro</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h2>Registro de Usuarios</h2>
    <form method="POST" action="{{ url_for('usuarios') }}">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        
        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" required>
        
        <label for="correo">Correo Electrónico:</label>
        <input type="email" name="correo" required>
        
        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" required>
        
        <button type="submit">Enviar</button>
    </form>
    {% endblock %}

</body>
</html>